h1 {
    font-family: Arial;
    font-size: 48px;
    color: white;
    text-align: center;
}

h2 {
    font-family: Arial;
    font-size: 54px;
    color: black;
    text-align: center;
}
    
h3 {
    font-family: Arial;
    font-style: bold;
    color: white;
    text-align: center;
}

h4 {
    font-family: Arial;
    color: black;
    text-align: center;
    font-size: 18px;
}

body {
    background-color: white;
    background-image: url("img/forestridge.jpg");
    background-repeat: no-repeat; 
    background-position: top;
    background-attachment: scroll;
    background-size: 1680px 600px;
}

.center-container {
    text-align: center;
}

.my-button {
    background-color: black;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
    opacity: 0.8;
}

.footer{
    margin-top: 150px;
    background-color : #333 ;
    padding: 80px 5%;
    width: 90%;
    color: #efefef;
    display: flex;
}

.footer div{
    text-align: center;;
}

.col-2{
    flex-grow: 2;
}

.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
    text-decoration: none;
    color:#efefef;
    margin-bottom: 10px;
}

form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom:40px;
    outline:none;
    border: none;
}

form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.social-icons{
    margin-top: 30px;
}

.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}
